<div class="container">

  <form [formGroup]="form">
    <input type="text" placeholder="brand" formControlName="brand">
    <input type="text" placeholder="price" formControlName="price">
    <input type="text" placeholder="year" formControlName="year">
    <button (click)="updateCar ? update() : create()">{{updateCar ? 'update' : 'create'}}</button>
  </form>

  <div *ngIf="form.controls['brand'].errors && (form.controls['brand'].dirty || form.controls['brand'].touched)">
    <div
      *ngFor="let err of form.controls['brand'].errors | keyvalue"
      class="err"
    >
      ( brand {{err.key}} - {{err.value}}! )
    </div>
  </div>
  <div *ngIf="form.controls['price'].errors && (form.controls['price'].dirty || form.controls['price'].touched)">
    <div
      *ngFor="let err of form.controls['price'].errors | keyvalue"
      class="err"
    >
      ( price {{err.key}} - {{err.value}}! )
    </div>
  </div>
  <div *ngIf="form.controls['year'].errors && (form.controls['year'].dirty || form.controls['year'].touched)">
    <div
      *ngFor="let err of form.controls['year'].errors | keyvalue"
      class="err"
    >
      ( year {{err.key}} - {{err.value}}! )
    </div>
  </div>

</div>
<!--[disabled]="!form.valid"-->
